<div id="top-bar">
  <div id="top-bar-inner">
    <div class="top-bar-inner-wrap">
      <div class="top-bar-content">
        <div class="inner text-white link-style-2">
          <span class="phone content section-16px-regular"
            ><a href="tel:{{ topOfSiteModel.mobileNumber }}">{{
              topOfSiteModel.mobileNumber
            }}</a></span
          >
          <span class="mail content section-16px-regular"
            ><a href="{{ topOfSiteModel.email }}"
              ><span
                class="__cf_email__"
                data-cfemail="2e41425b56004a4b5d4749406e49434f4742004d4143"
                >{{ topOfSiteModel.email }}</span
              ></a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
